
.html {
}
body {
    padding: 0px;
    margin: 0px;
}
.nav-wrap {
    background-color: #191021;
    color: white;
    height: 80px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.head-left {
    padding-left: 15px;
}
nav {
    padding: 15px;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-tab {
    text-decoration: none;
    color: aliceblue;
}
.nav-tab a {
    text-decoration: none;
    color: aliceblue;
}
.login-tab {
    background-color: aliceblue;
    border-radius: 15px;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: relative;
    bottom: 5px;
}
.login-tab a {
    text-decoration: none;
    color: #6100b6;
}

h1 {
    color: white;
    height: 30px;
    font-family: "Audiowide", "sans-serif";
    font-weight: 600;
    font-style: normal;
}
.yellow {
    color: rgb(126, 0, 210);
}

.container {
    
    background-color: #000000;
}
.tab-box {
    display: flex;
    height: 500px;
    margin: auto 100px;
}
.content {
    padding-top: 150px;
    padding-left: 10%;
    color: aliceblue;
    width: 60%;

    
    
}
h2 {
    color: aliceblue;
    font-family: "Prompt", "sans-serif";
    font-weight: 600;
    font-size: 35px;
}
.content p{
    font-weight: 200;

}

.image3d{
    width: 40%;
    
}
.button-like {
    text-align: center;
    width: 200px;
    color: #ffffff;
    border: #191021 solid 2px;
    border-color: #911bf8;
    border-radius: 20px;
    font-weight: 600;
}

.spline-3D {
    position: absolute;
    top: 0;
    bottom: 20%;
    left: 30%;
    right: 20%;
    width: 100%;
    height: 100%;
    transform: scale(50%);
}
.user-bio {
    padding-left: 10%;
}

.user-bio article{
    text-align: center;
    background-color: #6100b6;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px;
}